@import "tailwindcss";
:root {
  --theme-bg-color: #ff0066;
  --primary-bg-color: #ff4d94;
  --text-blue: #0066cc;
}

body {
  font-family: "Open Sans", sans-serif;
  /* font-size: 23px; */
  /* font-family:; */
}

.btn-bg {
  background-color: var(--theme-bg-color);
}

.theme-bg {
  background-color: var(--theme-bg-color);
}
.text-blue {
  color: var(--text-blue);
}
.primary-bg {
  background-color: var(--primary-bg-color);
}
